.toggle {
  position: relative;
  display: inline-block;
}

/* Hide the checkbox input */
.toggle input {
  display: none;
}

.legend {
  margin-left: 52px;
  color: var(--text-muted);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 48px;
  height: 28px;
  background-color: var(--border-primary);
  transition: .4s;
  border-radius: 34px;
}

.slider:after {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background-primary);
  transition: .4s;
  border-radius: 50%;
}

/* Modify the slider's background color to 
              green once the checkbox has been selected. */
input:checked+.slider {
  background-color: var(--green);
}

/* When the checkbox is checked, shift the 
                  white ball towards the right within the slider. */
input:checked+.slider:after {
  transform: translateX(20px);
}

/* When the checkbox is checked, modify the legend color using general sibling selector (~). */
input:checked~.legend {
  color: var(--text-primary);
}
