.container {
  margin-bottom: 2rem;
}

.choice-banner-info {
  font-size: 0.9rem;
  color: var(--text-muted);
}

.choices {
  display: flex;
  flex-direction: column;
}

.choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0px;
  align-items: center;
}

.choice-label {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.insee-code-legend {
  font-style: italic;
  font-weight: 500;
  border-bottom: 1px solid var(--border-primary);
  text-align: end;
}
