:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --lighter-green: #B1FFE2;
  --light-green: #16B378;
  --green: #009058;
  --lighter-grey: #F7F7F7;
  --light-grey: #D9D9D9;
  --grey: #686565;
  --warning: #F9AE41;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.7em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.3em;
  line-height: 1.1em;
}

h3 {
  font-size: large;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #d3d3d34d;
  padding: 5px 10px;
}

.accordion-body {
  background-color: #d3d3d32e;
  padding: 5px 10px;
  margin: 0;
  font-size: 0.9rem;
  text-align: left;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 0.5rem;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.divider {
  border: 1px solid var(--light-grey, #D9D9D9);
  height: auto;
}

.centered-column {
  text-align: center;
  flex: 1;
  padding: 1rem;
}

button {
  border-radius: 3px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}

button.primary {
  background-color: var(--light-green, #16B378);
  border: 1px solid transparent;
}

button.primary:hover {
  background-color: var(--green, #009058);
}

button:disabled,
button.primary:disabled {
  background-color: rgb(104, 101, 101);
  cursor: not-allowed;
}

button.secondary {
  border-radius: 3px;
  border: 1px solid var(--light-green, #16B378);
  color: var(--light-green, #16B378);
  background-color: transparent;
}

button.secondary:hover {
  color: var(--green, #009058);
  border-color: var(--green, #009058);
}

button.secondary:disabled {
  color: var(--grey, #686565);
  border-color: var(--grey, #686565);
  cursor: not-allowed;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.tag {
  padding: 4px 8px;
  border-radius: 3px;
}

.tag.validated {
  background: var(--lighter-green, #B1FFE2);
}

.tag.warning {
  background: var(--warning, #F9AE41);
}

.tag.info {
  background: var(--lighter-grey, #F7F7F7);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #16b378;
    color: #ffffff;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #16b378;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text-align-left {
  text-align: left;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.semi-bold {
  font-weight: 600;
}