:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1em;
}

h3 {
  font-size: large;
}

.title {
  margin-bottom: 2rem;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #d3d3d34d;
  padding: 5px 10px;
}

.accordion-body {
  background-color: #d3d3d32e;
  padding: 5px 10px;
  margin: 0;
  font-size: 0.9rem;
}

.info {
  font-size: 0.9rem;
  color: gray;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #009058;
}

button:disabled {
  background-color: rgb(104, 101, 101);
  cursor: not-allowed;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #16b378;
    color: #ffffff;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #16b378;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.text-align-left {
  text-align: left;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}